<div id="main-content">
  <h1>Uh-oh.. 404</h1>
  <p id="punchline">U lost bro?</p>
</div>

<blockquote class="pull-right">
  <p>"It is better to not be lost than to be lost"</p>
  <small>True story</small>
</blockquote>
