
<h1><span id="logo-m">€</span><span id="rest-of-the-title" class="hidden-phone">eetoring</span></h1>
<h2 id="smaller-title">Meetoring</h2>
<p id="punchline">Monitor your meetings</p>
<p>

<form method="POST" action="/" class="form-inline" id="start-monitoring-form"> 
  <span><input type="text" autocomplete="off" name="meeting_name" placeholder="Meeting name..." class="" id="create-meeting-name"></span>
  <span><input type="submit" value="Start" class="btn btn-inverse" id="create-meeting-start"></span>
</form>
</p>
