<h3>Meeting <strong><%= meeting.name %></strong></h3>
<div id="total">€<span id="meetingTotalValue"><%= meeting.total %></span></span></div>

<div id="form-join" class="form-inline">
 <span><input type="text" autocomplete="off" placeholder="Price per Hour..." class="focused input input-small" id="attendee-rate"></span>
 <span><a id="attendee-join" class="btn btn-inverse">Join</a></span>
</div>
<div>

<div id="form-leave" class="form-inline hidden">
 <span><a id="attendee-leave" class="btn btn-inverse">Leave</a></span>
</div>
 
<script src="/js/counter.js"></script>

<script>


$(function() {
 var socketio = io.connect('http://localhost:3333/meeting');

 socketio.on('connect', function(){
   var meeting   = <%- JSON.stringify(meeting) %>
      , counter   = new Meetoring.Counter('#meetingTotalValue', 200)
      , clientId  = socketio.socket.sessionid;
   
    counter.init(meeting);
   counter.start();

   var onError = function(error) {
    alert(error);
   };

   $('#attendee-join').click(function(event){ 
    var rate =  $("#attendee-rate").attr('value');
    Meetoring.joinMeeting(meeting.id, rate, clientId, function(error, data) {
     if (error) onError(error);

     meeting = data;
     $("#form-join").hide();
     $("#form-leave").removeClass('hidden').show();
     counter.restart(meeting);     
    });
   });

   $('#attendee-leave').click(function(event){ 
    Meetoring.leaveMeeting(function(error, data) {
     if (error) onError(error);

     meeting = data;
     $("#form-leave").hide();
     $("#form-join").show();
     counter.restart(meeting);  
    });
   });
   
   socketio.emit("meeting:attendee:spectator:entered", { meeting: {id: meeting.id ,clientId: socketio.socket.sessionid } });
   
   socketio.on('sync:rate', function (meeting) {
       console.log("IA BA DA BA DA BA DUUUUU !!! " +new Date);
       counter.restart(meeting);  
   });
   
   

 });

});

</script>