<div id="main-content">
  <h3>Meeting <strong><%= meeting.name %></strong></h3>
  <div class="attendeesCount"></div>
  <div id="total">€<span id="meetingTotalValue"><%= meeting.total %></span></span></div>

  <div class="action-area">
    <div id="form-join" class="form-inline hidden">
      <h5 id="join-this-meeting-question">Join this meeting?</h5>
    	<span><input type="text" autocomplete="off" placeholder="Price per Hour..." id="rate" title="What is the cost of an hour of your time?"></span>
      <span><a id="join" class="btn btn-inverse">Join</a></span>
    </div>
    <div>

    <div id="form-leave" class="form-inline hidden">
    	<span><a id="leave" class="btn btn-inverse">Leave</a></span>
    </div>
  <div>
</div>
 
<script src="/js/counter.js"></script>

<script>

var clientId = '<%= clientId %>';
var meeting = <%- JSON.stringify(meeting) %>;
var counter = new Meetoring.Counter('#meetingTotalValue', 200, meeting);

function sync(newMeeting) { 
  counter.sync(meeting = newMeeting); 
  var attendees = meeting.attendees.length;
  
  var msg = attendees == 0 ? '' : 
      attendees == 1 ? '1 attendee' : 
      attendees + ' attendees';
  $('.attendeesCount').text(msg);
  
  if (_.include(meeting.attendees, clientId)) {
    $("#form-join").hide();
    $("#form-leave").fadeIn();
  }
  else {
    $("#form-join").fadeIn();
    $("#form-leave").hide();
  }
}

$(function() {

  $("#rate").keyup(function(event){
      if(event.keyCode == 13){
          $("#join").click();
      }
  });

  $('#rate').tooltip();

  var socket = io.connect('http://'+document.domain+'/'+meeting.id);
  socket.on('update', sync);
  socket.on('connect', function(){
    socket.emit('identify', clientId, function(meeting) {
      
      $("#form-join").hide().removeClass('hidden');
      $("#form-leave").hide().removeClass('hidden');
      
      sync(meeting);
      
      $('#join').click(function(){ 
        var rate =  $("#rate").attr('value');
        $("#form-join").fadeOut();

        socket.emit('join', rate, function(meeting) {
          sync(meeting);
          $("#form-leave").fadeIn();
        });
      });

      $('#leave').click(function(){ 
        $("#form-leave").fadeOut();
      
        socket.emit('leave', function(meeting) {
          sync(meeting);
          $("#form-join").fadeIn();
        });
      });
    
      setInterval(function(){ socket.emit('sync', sync)}, 1000 * 10);  
    });
  });
});

</script>