<div id="main-content">
  <h3>Meeting <strong><%= meeting.name %></strong></h3>
  <div id="total">€<span id="meetingTotalValue"><%= meeting.total %></span></span></div>

  <div id="form-join" class="form-inline">
    <h5 id="join-this-meeting-question">Join this meeting?</h5>
  	<span><input type="text" autocomplete="off" placeholder="Price per Hour..." id="attendee-rate" title="What is the cost of an hour of your time?"></span>
    <span><a id="attendee-join" class="btn btn-inverse">Join</a></span>
  </div>
  <div>

  <div id="form-leave" class="form-inline hidden">
  	<span><a id="attendee-leave" class="btn btn-inverse">Leave</a></span>
  </div>
</div>
 
<script src="/js/counter.js"></script>

<script>


$(function() {

  $("#attendee-rate").keyup(function(event){
      if(event.keyCode == 13){
          $("#attendee-join").click();
      }
  });

 $('#attendee-rate').tooltip();

 var socketio = io.connect('/meeting');
 socketio.on('connect', function(){
   var  meeting   = <%- JSON.stringify(meeting) %>
      , counter   = new Meetoring.Counter('#meetingTotalValue', 200)
      , clientId  = socketio.socket.sessionid;
   
    counter.init(meeting);
    counter.start();

   var onError = function(error) {
     console.log("ERROR ... ERROR ...");
   };

   $('#attendee-join').click(function(event){ 
    var rate =  $("#attendee-rate").attr('value');
    Meetoring.joinMeeting(meeting.id, rate, clientId, function(error, data) {
     if (error) onError(error);

     meeting = data;
     $("#form-join").hide();
     $("#form-leave").removeClass('hidden').show();
     counter.restart(meeting);     
    });
   });

   $('#attendee-leave').click(function(event){ 
    Meetoring.leaveMeeting(function(error, data) {
     if (error) onError(error);

     meeting = data;
     $("#form-leave").hide();
     $("#form-join").show();
     counter.restart(meeting);  
    });
   });
   
   socketio.emit("meeting:attendee:spectator:entered", { meeting: {id: meeting.id ,clientId: socketio.socket.sessionid } });
   
   socketio.on('sync:rate', function (meeting) {
       console.log("IA BA DA BA DA BA DUUUUU !!! " +new Date);
       counter.restart(meeting);  
   });
   
   

 });

	//setInterval(function() { socket.emit('syncRequest', meeting.id, sync); }, 5 * 1000);
	
});

</script>